/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&lt { quick-tap-ms = <150>; };

/ {
    chosen {
        // ZMK Studio requires physical layouts instead of a fixed matrix transform.
        // The board already selects the 6-column layout; swap for the 5-column one below.
        zmk,physical-layout = &foostan_corne_6col_layout;

        //zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        mus {
            bindings = <&mo 2>;
            key-positions = <37 38>;
        };
    };

    behaviors {
        comma: comma {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        dot: dot {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        qmark: qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "QMARK";
            bindings = <&kp QMARK>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB         &kp Q           &kp W           &kp E         &kp R       &kp T          &kp Y        &kp U            &kp I         &kp O        &kp P             &kp RA(W)
&kp LEFT_SHIFT  &mt LSHIFT A    &mt LCTRL S     &mt LALT D    &mt LGUI F  &kp G          &kp H        &mt RGUI J       &mt RALT K    &mt RCTRL L  &mt RSHIFT RA(O)  &mt RIGHT_SHIFT RA(A)
&kp LCTRL       &mt LEFT_ALT Z  &mt LEFT_GUI X  &kp C         &kp V       &kp B          &kp N        &kp M            &kp COMMA     &kp DOT      &kp QMARK         &kp RIGHT_ALT
                                                &lt 3 ESCAPE  &lt 2 TAB   &lt 1 SPACE    &lt 1 ENTER  &lt 2 BACKSPACE  &lt 3 DELETE
            >;

            display-name = "Base";
        };

        Sym {
            bindings = <
&none  &kp EXCL   &kp AT     &kp HASH     &kp DLLR   &kp PRCNT          &kp PIPE         &kp LBRC  &kp RBRC  &kp COLON  &kp SQT  &kp RA(N5)
&none  &kp CARET  &kp AMPS   &kp ASTRK    &kp MINUS  &kp EQUAL          &kp FSLH         &kp LPAR  &kp RPAR  &kp SEMI   &kp DQT  &none
&none  &kp GRAVE  &kp TILDE  &kp LA(SQT)  &kp UNDER  &kp PLUS           &kp BSLH         &kp LBKT  &kp RBKT  &kp LT     &kp GT   &none
                             &trans       &trans     &kp C_AC_SEARCH    &kp C_AC_SEARCH  &trans    &trans
            >;

            display-name = "Symbols";
        };

        Num {
            bindings = <
&kp F12     &kp F1         &kp F2        &kp F3       &kp F4       &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&kp LSHIFT  &mt LSHIFT N1  &mt LCTRL N2  &mt LALT N3  &mt LGUI N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &kp RSHIFT
&kp LCTRL   &kp LALT       &kp LGUI      &none        &none        &none     &none   &none   &none   &none   &none    &kp RIGHT_ALT
                                         &none        &none        &none     &none   &none   &none
            >;

            display-name = "Numbers";
        };

        Nav {
            bindings = <
&none         &kp LC(N1)         &kp LC(N2)          &kp LC(N3)       &kp LC(N4)             &none         &kp PAGE_UP    &kp HOME      &kp UP    &kp END       &none  &bt BT_CLR_ALL
&kp C_VOL_DN  &mt LSHIFT K_MUTE  &mt LCTRL C_VOL_UP  &mt LALT K_PREV  &mt LGUI K_PLAY_PAUSE  &kp K_NEXT    &kp PAGE_DOWN  &kp LEFT      &kp DOWN  &kp RIGHT     &none  &bt BT_NXT
&none         &kp LG(Z)          &kp LG(X)           &kp LG(C)        &kp LG(V)              &none         &none          &kp LG(LBKT)  &none     &kp LG(RBKT)  &studio_unlock  &bt BT_PRV
                                                     &trans           &trans                 &trans        &trans         &kp DEL       &trans
            >;

            display-name = "Navigation";
        };
    };
};
